.ahhTudkw_0 {
  stroke-dasharray: 434 436;
  stroke-dashoffset: 435;
  animation: ahhTudkw_draw_0 2300ms linear 0ms infinite;
}

@keyframes ahhTudkw_draw {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes ahhTudkw_draw_0 {
  0% {
    stroke-dashoffset: 435;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@font-face {
  font-family: interRegular;
  src: url("./fonts/Inter (OTF)/Inter-Regular.otf");
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    background: url("./backgroundPortait.jpg") no-repeat center center fixed;
  }

  header .name {
    font-size: 1rem !important;
  }
  header .primary {
    font-size: 0.6rem !important;
  }
  header .secondary {
    font-size: 0.6rem !important;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    background: url("./backgroundPortait.jpg") no-repeat center center fixed;
  }

  header .name {
    font-size: 1rem !important;
  }
  header .primary {
    font-size: 0.6rem !important;
  }
  header .secondary {
    font-size: 0.6rem !important;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    background: url("./background.jpg") no-repeat center center fixed;
  }

  header .name {
    font-size: 2rem !important;
  }
  header .primary {
    font-size: 1rem !important;
  }
  header .secondary {
    font-size: 1rem !important;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    background: url("./background.jpg") no-repeat center center fixed;
  }

  header .name {
    font-size: 2rem !important;
  }
  header .primary {
    font-size: 1rem !important;
  }
  header .secondary {
    font-size: 1rem !important;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    background: url("./background.jpg") no-repeat center center fixed;
  }

  header .name {
    font-size: 2rem !important;
  }
  header .primary {
    font-size: 1rem !important;
  }
  header .secondary {
    font-size: 1rem !important;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: interRegular;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#loading {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #b8d6cc;
  color: white;
  z-index: 1;
}
#loading div {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mainContainer {
  width: 85vw;
  max-width: 85vw;
  height: 90vh;
  position: absolute;
  left: 7.5vw;
  top: 5vh;
  overflow: hidden;
}
.mainContainer header {
  box-sizing: content-box;
  min-height: auto;
  height: auto;
  width: inherit;
  max-width: inherit;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.mainContainer header .name {
  margin-bottom: 0;
  font-weight: 800;
}
.mainContainer header .primary {
  margin: 0;
}
.mainContainer header .secondary {
  margin-top: 0.3rem;
  font-style: oblique;
}
.mainContainer #mainPage {
  margin: 0;
  padding: 0;
  transition: all ease-in 800ms;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.mainContainer #mainPage.hidden {
  margin-left: -200%;
  padding-right: 200%;
}
.mainContainer #mainPage.shown {
  margin-left: 0;
  padding-right: 0;
}
.mainContainer #mainPage ::after {
  content: "";
  background: #9ac3dd;
  opacity: 0.2;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.mainContainer #mainPage .mobileMenu {
  text-align: left;
  width: 100%;
  height: 70%;
}
.mainContainer #mainPage .mobileMenu .nav {
  position: relative;
  width: calc(100% - 22px);
  padding: 10px 10px;
  border-bottom: 1px solid #9ac3dd;
}
.mainContainer #mainPage .mobileMenu .nav:first-child {
  border-top: 1px solid #9ac3dd;
}
.mainContainer #mainPage .mobileMenu .nav .oi {
  position: absolute;
  right: 10%;
  transition: right ease-in 300ms;
  background: transparent;
}
.mainContainer #mainPage .mobileMenu .nav:hover .oi {
  right: 1%;
}
.mainContainer #sidePage {
  transition: all ease-in 800ms;
  position: absolute;
  top: 0;
  left: 0;
  max-width: inherit;
  width: inherit;
}
.mainContainer #sidePage.hidden {
  margin-left: 200%;
}
.mainContainer #sidePage.shown {
  margin-left: 0;
}
.mainContainer #sidePage .sidePageContent {
  max-width: inherit;
  width: inherit;
  overflow: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.mainContainer #sidePage .sidePageContent header .nav {
  position: relative;
  width: calc(100% - 22px);
  padding: 10px 10px;
  border-bottom: 1px solid #9ac3dd;
}
.mainContainer #sidePage .sidePageContent header .nav:first-child {
  border-top: 1px solid #9ac3dd;
}
.mainContainer #sidePage .sidePageContent header .nav .oi {
  position: absolute;
  left: 10%;
  transition: left ease-in 300ms;
  background: transparent;
}
.mainContainer #sidePage .sidePageContent header .nav:hover .oi {
  left: 1%;
}
.mainContainer #sidePage .sidePageContent header h3 {
  margin-bottom: 0.4rem !important;
}
.mainContainer #sidePage .sidePageContent header .name {
  margin-top: 0.4rem !important;
}
.mainContainer #sidePage .sidePageContent table {
  font-size: 0.8rem;
  border-collapse: collapse;
}
.mainContainer #sidePage .sidePageContent table td,
.mainContainer #sidePage .sidePageContent table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.mainContainer #sidePage .sidePageContent table tr:nth-child(even) {
  background-color: #b8d6cc;
}

/*# sourceMappingURL=style.css.map */
