.ahhTudkw_0 {
  stroke-dasharray: 434 436;
  stroke-dashoffset: 435;
  animation: ahhTudkw_draw_0 2300ms linear 0ms infinite;
}

@keyframes ahhTudkw_draw {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes ahhTudkw_draw_0 {
  0% {
    stroke-dashoffset: 435;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@font-face {
  font-family: interRegular;
  src: url("./data/fonts/Inter (OTF)/Inter-Regular.otf");
}
.tiles {
  display: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    background: url("./data/backgroundPortait.jpg") no-repeat center center fixed;
  }

  header .name {
    font-size: 1rem !important;
  }
  header .primary {
    font-size: 0.6rem !important;
  }
  header .secondary {
    font-size: 0.6rem !important;
  }

  .menu {
    height: calc(100% - 11rem) !important;
  }
  .menu .nav {
    text-align: left !important;
    font-size: 1rem !important;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    background: url("./data/backgroundPortait.jpg") no-repeat center center fixed;
  }

  header .name {
    font-size: 1rem !important;
  }
  header .primary {
    font-size: 0.6rem !important;
  }
  header .secondary {
    font-size: 0.6rem !important;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    background: url("./data/background.jpg") no-repeat center center fixed;
  }

  header .name {
    font-size: 2rem !important;
  }
  header .primary {
    font-size: 1rem !important;
  }
  header .secondary {
    font-size: 1rem !important;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    background: url("./data/background.jpg") no-repeat center center fixed;
  }

  header .name {
    font-size: 2rem !important;
  }
  header .primary {
    font-size: 1rem !important;
  }
  header .secondary {
    font-size: 1rem !important;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    background: url("./data/background.jpg") no-repeat center center fixed;
  }

  header .name {
    font-size: 2rem !important;
  }
  header .primary {
    font-size: 1rem !important;
  }
  header .secondary {
    font-size: 1rem !important;
  }

  #mainPage {
    -webkit-flex-direction: row !important;
    -moz-flex-direction: row !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
    -webkit-flex-wrap: wrap !important;
    -moz-flex-wrap: wrap !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }

  .menu {
    text-align: center !important;
    width: 50% !important;
    height: calc(100% - 12rem);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .menu .nav {
    font-size: 2rem;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1 1 auto;
    -moz-box-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }

  .tiles {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    width: 50%;
    height: calc(100% - 12rem);
    -webkit-box-flex: 1 1 auto;
    -moz-box-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
  .tiles .tile_row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 1 1 auto;
    -moz-box-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 33%;
  }
  .tiles .tile_row .tile {
    box-sizing: border-box;
    overflow: hidden;
    width: 30% !important;
    height: 100%;
    border: 3px solid #4b8b6c;
    transition: all 500ms ease-in-out;
  }
  .tiles .tile_row .tile.wide {
    width: 35% !important;
  }
  .tiles .tile_row .tile img {
    height: 100%;
    filter: blur(3px);
  }
  .tiles .tile_row .tile img:hover {
    cursor: pointer;
    filter: blur(0);
  }
}
/* Extra extra large devices (large desktops, 2048px and up) */
@media only screen and (min-width: 2048px) {
  body {
    background: url("./data/background.jpg") no-repeat center center fixed;
    font-size: 32px;
  }

  #mainPage {
    -webkit-flex-direction: row !important;
    -moz-flex-direction: row !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
    -webkit-flex-wrap: wrap !important;
    -moz-flex-wrap: wrap !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }

  header {
    width: 100%;
  }
  header .name {
    font-size: 4rem !important;
  }
  header .primary {
    font-size: 2rem !important;
  }
  header .secondary {
    font-size: 2rem !important;
  }

  .menu {
    text-align: center !important;
    width: 50% !important;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .menu .nav {
    font-size: 4rem !important;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1 1 auto;
    -moz-box-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }

  .tiles {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    width: 50%;
    height: calc(100% - 14rem);
    -webkit-box-flex: 1 1 auto;
    -moz-box-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
  .tiles .tile_row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 1 1 auto;
    -moz-box-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 35%;
  }
  .tiles .tile_row .tile {
    box-sizing: border-box;
    overflow: hidden;
    width: 30% !important;
    height: 33.3%;
    border: 3px solid #4b8b6c;
    transition: all 500ms ease-in-out;
  }
  .tiles .tile_row .tile.wide {
    width: 35% !important;
  }
  .tiles .tile_row .tile img {
    height: 100%;
    filter: blur(3px);
  }
  .tiles .tile_row .tile img:hover {
    cursor: pointer;
    filter: blur(0);
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: interRegular;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#loading {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #b8d6cc;
  color: white;
  z-index: 1;
}
#loading div {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.informationModal {
  position: fixed;
  top: 30vh;
  left: 7.5vw;
  width: 85vw;
  background: #b8d6cc;
  opacity: 0;
  z-index: 1;
  text-align: center;
  display: none;
  transition: opacity ease-out 1600ms;
}

.mainContainer {
  width: 85vw;
  max-width: 85vw;
  height: 90vh;
  position: absolute;
  left: 7.5vw;
  top: 5vh;
  overflow: hidden;
}
.mainContainer header {
  align-self: flex-start;
  box-sizing: content-box;
  min-height: auto;
  width: 100%;
  max-width: inherit;
  text-align: center;
  margin: 5rem auto;
}
.mainContainer header .name {
  margin: 0;
  font-weight: 800;
}
.mainContainer header .primary {
  margin: 0;
}
.mainContainer header .secondary {
  margin-top: 0.3rem;
  font-style: oblique;
}
.mainContainer #mainPage {
  margin: 0;
  padding: 0;
  transition: all ease-in 800ms;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
}
.mainContainer #mainPage.hidden {
  margin-left: -200%;
  padding-right: 200%;
}
.mainContainer #mainPage.shown {
  margin-left: 0;
  padding-right: 0;
}
.mainContainer #mainPage ::after {
  content: "";
  background: #9ac3dd;
  opacity: 0.2;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.mainContainer #mainPage .menu {
  text-align: left;
  width: 100%;
  height: calc(100% - 12rem);
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.mainContainer #mainPage .menu .nav {
  font-size: 2rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  position: relative;
  width: calc(100% - 22px);
  padding: 10px 10px;
  border-bottom: 1px solid #4b8b6c;
}
.mainContainer #mainPage .menu .nav:first-child {
  border-top: 1px solid #4b8b6c;
}
.mainContainer #mainPage .menu .nav .oi {
  position: absolute;
  right: 10%;
  transition: right ease-in 300ms;
  background: transparent;
}
.mainContainer #mainPage .menu .nav:hover {
  cursor: pointer;
}
.mainContainer #mainPage .menu .nav:hover .oi {
  right: 1%;
}
.mainContainer #sidePage {
  height: 100%;
  transition: all ease-in 800ms;
  position: absolute;
  top: 0;
  left: 0;
  max-width: inherit;
  width: inherit;
}
.mainContainer #sidePage.hidden {
  margin-left: 200%;
}
.mainContainer #sidePage.shown {
  margin-left: 0;
}
.mainContainer #sidePage .sidePageContent {
  max-width: inherit;
  width: inherit;
  overflow: auto;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.mainContainer #sidePage .sidePageContent header {
  margin: 0 auto 5rem 0;
}
.mainContainer #sidePage .sidePageContent header .nav {
  position: relative;
  width: calc(100% - 22px);
  padding: 10px 10px;
  border-bottom: 1px solid #4b8b6c;
}
.mainContainer #sidePage .sidePageContent header .nav:first-child {
  border-top: 1px solid #4b8b6c;
}
.mainContainer #sidePage .sidePageContent header .nav .oi {
  position: absolute;
  left: 10%;
  transition: left ease-in 300ms;
  background: transparent;
}
.mainContainer #sidePage .sidePageContent header .nav:hover .oi {
  left: 1%;
}
.mainContainer #sidePage .sidePageContent header h3 {
  margin-bottom: 0.4rem !important;
}
.mainContainer #sidePage .sidePageContent header .name {
  margin-top: 0.4rem !important;
}
.mainContainer #sidePage .sidePageContent .tab {
  text-align: center;
  padding: 1rem 0;
  border: 1px solid #4b8b6c;
  margin: 0;
}
.mainContainer #sidePage .sidePageContent #webOfScience,
.mainContainer #sidePage .sidePageContent #outOfWebOfScience,
.mainContainer #sidePage .sidePageContent #chapters,
.mainContainer #sidePage .sidePageContent #chapters_2,
.mainContainer #sidePage .sidePageContent #maps,
.mainContainer #sidePage .sidePageContent #popular,
.mainContainer #sidePage .sidePageContent #monograph,
.mainContainer #sidePage .sidePageContent #other {
  height: 0;
  overflow: hidden;
  transition: all 1000ms ease-in-out;
}
.mainContainer #sidePage .sidePageContent .tableContainer {
  min-width: 100%;
}
.mainContainer #sidePage .sidePageContent .tableContainer table {
  font-size: 1rem;
  border-collapse: collapse;
  min-width: 100%;
}
.mainContainer #sidePage .sidePageContent .tableContainer table td,
.mainContainer #sidePage .sidePageContent .tableContainer table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.mainContainer #sidePage .sidePageContent .tableContainer table td:nth-child(1),
.mainContainer #sidePage .sidePageContent .tableContainer table th:nth-child(1) {
  text-align: center;
}
.mainContainer #sidePage .sidePageContent .tableContainer table td:nth-child(6),
.mainContainer #sidePage .sidePageContent .tableContainer table th:nth-child(6) {
  width: 15%;
}
.mainContainer #sidePage .sidePageContent .tableContainer table tr:nth-child(even) {
  background-color: #b8d6cc;
}

/*# sourceMappingURL=style.css.map */
