@import 'variables';
@import 'loadingAnimation';
@import 'mixins';
@import 'fonts';


.tiles {
    display: none;
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    body {
        background: url("./data/backgroundPortait.jpg") no-repeat center center fixed;
    }

    header {
        & .name {
            font-size: 1rem !important;
        }

        & .primary {
            font-size: 0.6rem !important;
        }

        & .secondary {
            font-size: 0.6rem !important;
        }
    }

    .menu{
        height: calc(100% - 11rem) !important;
        .nav{
            text-align: left !important;
            font-size: 1rem !important;
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    body {
        background: url("./data/backgroundPortait.jpg") no-repeat center center fixed;
    }

    header {
        & .name {
            font-size: 1rem !important;
        }

        & .primary {
            font-size: 0.6rem !important;
        }

        & .secondary {
            font-size: 0.6rem !important;
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    body {
        background: url("./data/background.jpg") no-repeat center center fixed;
    }

    header {
        & .name {
            font-size: 2rem !important;
        }

        & .primary {
            font-size: 1rem !important;
        }

        & .secondary {
            font-size: 1rem !important;
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    body {
        background: url("./data/background.jpg") no-repeat center center fixed;
    }

    header {
        & .name {
            font-size: 2rem !important;
        }

        & .primary {
            font-size: 1rem !important;
        }

        & .secondary {
            font-size: 1rem !important;
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    body {
        background: url("./data/background.jpg") no-repeat center center fixed;
    }

    header {
        & .name {
            font-size: 2rem !important;
        }

        & .primary {
            font-size: 1rem !important;
        }

        & .secondary {
            font-size: 1rem !important;
        }
    }

    .menu {
        text-align: center !important;
        display: flex;
        height: calc(100% - 12rem);
        @include flexbox();
        @include flex-direction(column);
        & .nav {
            font-size: 2rem;
            @include flexbox();
            @include flex(1);
            @include justify-content(center);
            @include align-items(center);
        }
    }
}

/* Extra extra large devices (large desktops, 2048px and up) */

@media only screen and (min-width: 2046px) {
    body {
        background: url("./data/background.jpg") no-repeat center center fixed;
        font-size: 32px;
    }

    #mainPage {
        @include flex-direction(row !important);
        @include flex-wrap(wrap !important);
    }

    header {
        width: 100%;

        & .name {
            font-size: 4rem !important;
        }

        & .primary {
            font-size: 2rem !important;
        }

        & .secondary {
            font-size: 2rem !important;
        }
    }

    .menu {
        text-align: center !important;
        width: 50% !important;
        display: flex;
        @include flexbox();
        @include flex-direction(column);
        & .nav {
            font-size: 4rem !important;
            @include flexbox();
            @include flex(1);
            @include justify-content(center);
            @include align-items(center);
        }
    }

    .tiles {
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(center);
        width: 50%;
        height: calc(100% - 14rem);
        @include flex(1);

        .tile_row {
            @include flexbox();
            @include flex-direction(row);
            @include flex-wrap(wrap);
            @include flex(1);

            .tile {
                box-sizing: border-box;
                overflow: hidden;
                width: 30% !important;
                height: 33.3%;

                &.wide {
                    width: 35% !important;
                }

                & img {
                    height: 100%;
                    filter: blur(3px);
                    &:hover {
                        cursor: pointer;
                        filter: blur(0);
                    }
                }

                border: 3px solid $darkGreen;
                transition: all 500ms ease-in-out;

                

            }
        }
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: interRegular;
    @include background-size(cover);
}

#loading {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $brightGreen;
    color: white;
    z-index: 1;

    div {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.informationModal {
    position: fixed;
    top: 30vh;
    left: 7.5vw;
    width: 85vw;
    background: $brightGreen;
    opacity: 0;
    z-index: 1;
    text-align: center;
    display: none;
    transition: opacity ease-out 1600ms;
}

.mainContainer {
    width: 85vw;
    max-width: 85vw;
    height: 90vh;
    position: absolute;
    left: 7.5vw;
    top: 5vh;
    overflow: hidden;

    header {
        align-self: flex-start;
        box-sizing: content-box;
        min-height: auto;
        width: 100%;
        max-width: inherit;
        text-align: center;
        margin: 5rem auto;

        & .name {
            margin: 0;
            font-weight: 800;
        }

        & .primary {
            margin: 0;
        }

        & .secondary {
            margin-top: 0.3rem;
            font-style: oblique;
        }
    }

    #mainPage {
        margin: 0;
        padding: 0;
        transition: all ease-in 800ms;
        height: 100%;

        &.hidden {
            margin-left: -200%;
            padding-right: 200%;
        }

        &.shown {
            margin-left: 0;
            padding-right: 0;
        }

        @include flexbox();
        @include flex-direction(column);
        @include justify-content(flex-start);

        //background 
        & ::after {
            content: '';
            background: $brightBlue;
            opacity: 0.2;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
        }

        .menu {
            text-align: left;
            width: 100%;
            height: calc(100% - 12rem);
            display: flex;
            @include flexbox();
            @include flex-direction(column);
            .nav {
                font-size: 2rem;
                @include flexbox();
                @include flex(1);
                @include justify-content(center);
                @include align-items(center);
                position: relative;
                width: calc(100% - 22px);
                padding: 10px 10px;
                border-bottom: 1px solid $darkGreen;

                &:first-child {
                    border-top: 1px solid $darkGreen;
                }

                .oi {
                    position: absolute;
                    right: 10%;
                    transition: right ease-in 300ms;
                    background: transparent;
                }

                &:hover {
                    cursor: pointer;
                    .oi {
                        right: 1%;
                    }
                }
            }
        }
    }

    #sidePage {
        &.hidden {
            margin-left: 200%;
        }

        &.shown {
            margin-left: 0;
        }

        height: 100%;
        transition: all ease-in 800ms;
        position: absolute;
        top: 0;
        left: 0;
        max-width: inherit;
        width: inherit;

        .sidePageContent {
            max-width: inherit;
            width: inherit;
            overflow: auto;
            height: 100%;

            header {
                .nav {
                    position: relative;
                    width: calc(100% - 22px);
                    padding: 10px 10px;
                    border-bottom: 1px solid $darkGreen;

                    &:first-child {
                        border-top: 1px solid $darkGreen;
                    }

                    .oi {
                        position: absolute;
                        left: 10%;
                        transition: left ease-in 300ms;
                        background: transparent;
                    }

                    &:hover {
                        .oi {
                            left: 1%;
                        }
                    }
                }

                h3 {
                    margin-bottom: 0.4rem !important;
                }

                .name {
                    margin-top: 0.4rem !important;
                }
            }

            table {
                font-size: 1rem;
                border-collapse: collapse;
                width: 100%;
                td,
                th {
                    border: 1px solid #dddddd;
                    text-align: left;
                    padding: 8px;
                }

                tr:nth-child(even) {
                    background-color: $brightGreen;
                }
            }

            @include flexbox();
            @include flex-direction(row);
            @include flex-wrap(wrap);
        }
    }
}